@use '../var' as *;
@use '../mix' as *;

.menuBtn {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  padding-top: 12px;
  padding-left: 3px;
  overflow: hidden;

  @include transitionFor(0.5s ease, border-color, background-color);

  &.bordered:not(.active) {
    border-color: rgba($white, 0.5);
    background-color: rgba($darkgreen, 0.8);
  }

  @media screen and (min-width: $md) {
    border: none;
    background-color: transparent;

    &.bordered:not(.active) {
      border-color: transparent;
      background-color: transparent;
    }
  }
}
