<!DOCTYPE html>
<html lang=en dir=ltr>

<head>
  <title>Lloyd SixtyFive | Transformation of Modern Residences </title>

  <!-- SEO -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="author" content="Farmer Studio ®" />
  <meta name="description" content="Lloyd SixtyFive Website Demo by Farmer Studio ®" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@toanzzz" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="Lloyd SixtyFive Website Demo by Farmer Studio ®" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Lloyd SixtyFive Website Demo by Farmer Studio ®" />
  <meta property="og:site_name" content="Lloyd SixtyFive Website Demo by Farmer Studio ®" />
  <meta property="og:description" content="Lloyd SixtyFive Website Demo by Farmer Studio ®" />
  <meta property="og:url" />
  <meta property="og:image" />
  <meta property="og:image:alt" content="Lloyd SixtyFive Website Demo by Farmer Studio ®" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:updated_time" content="2020-08-04T07:21:41.043Z" />
  <!-- /SEO -->

  <!-- LINK -->
  <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" />
  <link rel="shortcut icon" type="image/png" href="img/favicon/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="16x16" type="image/png" href="img/favicon/favicon-16x16.png" />
  <link rel="apple-touch-icon" sizes="32x32" type="image/png" href="img/favicon/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="57x57" type="image/png" href="img/favicon/favicon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" type="image/png" href="img/favicon/favicon-60x60.png" />
  <link rel="apple-touch-icon" sizes="70x70" type="image/png" href="img/favicon/favicon-70x70.png" />
  <link rel="apple-touch-icon" sizes="72x72" type="image/png" href="img/favicon/favicon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" type="image/png" href="img/favicon/favicon-76x76.png" />
  <link rel="apple-touch-icon" sizes="96x96" type="image/png" href="img/favicon/favicon-96x96.png" />
  <link rel="apple-touch-icon" sizes="114x114" type="image/png" href="img/favicon/favicon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" type="image/png" href="img/favicon/favicon-120x120.png" />
  <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="img/favicon/favicon-128x128.png" />
  <link rel="apple-touch-icon" sizes="144x144" type="image/png" href="img/favicon/favicon-144x144.png" />
  <link rel="apple-touch-icon" sizes="150x150" type="image/png" href="img/favicon/favicon-150x150.png" />
  <link rel="apple-touch-icon" sizes="152x152" type="image/png" href="img/favicon/favicon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="img/favicon/favicon-180x180.png" />
  <link rel="apple-touch-icon" sizes="196x196" type="image/png" href="img/favicon/favicon-196x196.png" />
  <link rel="apple-touch-icon" sizes="310x150" type="image/png" href="img/favicon/favicon-310x150.png" />
  <link rel="apple-touch-icon" sizes="310x310" type="image/png" href="img/favicon/favicon-310x310.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css"
    integrity="sha512-UiVP2uTd2EwFRqPM4IzVXuSFAzw+Vo84jxICHVbOA1VZFUyr4a6giD9O3uvGPFIuB2p3iTnfDVLnkdY7D/SJJQ=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css"
    integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css"
    integrity="sha512-uMIpMpgk4n6esmgdfJtATLLezuZNRb96YEgJXVeo4diHFOF/gqlgu4Y5fg+56qVYZfZYdiqnAQZlnu4j9501ZQ=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css"
    integrity="sha512-uCQmAoax6aJTxC03VlH0uCEtE0iLi83TW1Qh6VezEZ5Y17rTrIE+8irz4H4ehM7Fbfbm8rb30OkxVkuwhXxrRg=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
    integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="css/index.css" />
  <!-- /LINK -->

  <!-- PRELOAD -->
  <link rel="preload" as="script" href="/js/index.js" />
  <!-- /PRELOAD -->
</head>

<body>
  <!-- HEADER -->
  <header class="header clear">
    <div class="navContainer">
      <a aria-current="page" class="navBrand" href="/"><img alt="logo" src="img/site_assets/nav-logo.svg" /></a>
      <div class="rightNav">
        <span class="phone">
          <div class="hotline">
            <span>Developer Sales Hotline: </span>
          </div>

          <a href=tel:+6581886111>+65 2311 5122</a>
          |
          <a href=tel:+6581886111>+65 8188 6111</a>
        </span>
        <select class="dropFlag" id="dropFlag">
          <option value="vn">Vietnam</option>
          <option value="th">Thailand</option>
          <option value="la">Laos</option>
          <option value="my">Malaysia</option>
          <option value="mm">Myanmar</option>
        </select>
        <span class="enquiry">ENQUIRY</span>
        <div id='menuBtn' class="menuBtn borderLess hamburger hamburger--spin">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </div>
    <nav id='mainNav' class="mainNav">
      <img class='bg' src='img/site_images/nav-bg.jpg' alt='Menu Background' />
      <div class="navFloating">
        <img class='bg' src='img/site_images/nav-floatbg.jpg' alt='Nav Background' />
        <!-- PRIMARY MAIN NAVIGATION -->
        <ul class="primaryNav">
          <li class='active'><a href="/">Home</a></li>
          <li><a href="residences.html">Residences</a></li>
          <li><a href="amenities.html">Amenities</a></li>
          <li><a href="neighborhood.html">Neighborhood</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="gallery">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a alt='Enquiry' href="#enquiry"></a></li>
        </ul>
        <!-- PRIMARY FOOTER NAVIGATION -->
        <ul class="secondaryNav">
          <li><a href="privacypolicy">Privacy Policy</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- /HEADER -->

  <!-- MAIN -->
  <main class="main">{% block main %}{% endblock %}</main>
  <!-- /MAIN -->

  <!-- FOOTER -->
  <footer class='footer'>
    <div class='container'>
      <a href='https://farmerstud.io' target="_blank" class='fsLogo'>
        <img src='img/fsLogo.svg' alt="FARMER STUDIO" />
        FARMER STUDIO
      </a>

      <a href='https://farmerstud.io' target="_blank" class='copyright'>© 2020 - FARMER STUDIO COMPANY LTD</a>

      <div class='scroll' id=scrollToTopBtn>
        BACK TO TOP
        <img class='arrow up' src='img/site_assets/back-to-top.svg' alt="Scroll To Top" />
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->

  <!-- CUSTOME_ELEMENTS -->
  <cta-bar></cta-bar>
  <!-- /CUSTOME_ELEMENTS -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <!-- Litly -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js"
    integrity="sha512-UU0D/t+4/SgJpOeBYkY+lG16MaNF8aqmermRIz8dlmQhOlBnw6iQrnt4Ijty513WB3w+q4JO75IX03lDj6qQNA=="
    crossorigin="anonymous"></script>
  <!-- Select2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous"></script>
  <!-- Intl Tel Input -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"
    integrity="sha512-kkBkPRO6dSkCJDPNpW4Bb/1Z585gN++HKcIpClQW9IYI+4gk4yPC+eaE3CSQp3Ex+48NvzUvqmroZtR4gZnt4g=="
    crossorigin="anonymous"></script>
  <!-- Animate on Scroll -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous"></script>
  <!-- Smooth Scroll Polyfill -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js"
    integrity="sha512-PQGSWbnnXnUjuWs360EBQTfInjWdrxv18r3Bp9b5LRtbP+rjPVvET4l/3bZQDrLKzLbbujjm3hveYvUQQcAxSQ=="
    crossorigin="anonymous"></script>
  <!-- BootStrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha512-kBFfSXuTKZcABVouRYGnUo35KKa1FBrYgwG4PAx7Z2Heroknm0ca2Fm2TosdrrI356EDHMW383S3ISrwKcVPUw=="
    crossorigin="anonymous"></script>
  <!-- SWIPER -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"
    integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww=="
    crossorigin="anonymous"></script>
  <!-- CTA Bar -->

  <!-- PARALLAX -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
    integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ=="
    crossorigin="anonymous"></script>
  <!-- /PARALLAX -->

  <script src="https://unpkg.com/@nerd-coder/cta-bar@0.5.3/dist/main.js" async></script>
  <script src="js/index.js"></script>
  <!-- /SCRIPTS -->
</body>

</html>