<section class="popUp" id="cmPop">
  <div class="wrapper">
    <div class="left">
      <img src="/img/site_images/team-developer-slider-01.jpg" alt="">
    </div>
    <div class="right">
      <h3>SAMPLE SECTION</h3>
      <p>Lorem ipsum dolor sit, <span class="bold">consectetur adipiscing elit</span> . Dignissimos animi,
        similique
        odit dicta a debitis
        laborum, sapiente ut iste ipsum sequi fugit doloremque. Dignissimos architecto excepturi repellendus
        vitae,
        mollitia optio.</p>
      <div class="foot">
        *Terms & Conditions apply
      </div>
    </div>
    <img class="closeBtn" id="btnCmPop" src="/img/site_assets/close.svg" alt="cls">
  </div>
</section>