<form class='form' data-aos='fade-up'>
  <label for="name">Name *</label>
  <input id="name" name="name" required />

  <label for="phone">Phone *</label>
  <input id="phone" name="phone" type="tel" required />

  <label for="email">Email *</label>
  <input id="email" name="email" required />

  <label for="email">Unit Types *</label>
  <select name="unittypes" multiple placeholder="Interested Unit Type(s)" style=width:100%>
    <option value=2160>1 Bedroom + Study ( 474 - 495 sqft) </option>
    <option value=2161>2 Bedroom ( 549 - 603 sqft) </option>
    <option value=2162>2 Bedroom + Study ( 689 - 764 sqft) </option>
    <option value=2163>2 Bedroom Deluxe (HS) ( 732 - 764 sqft) </option>
    <option value=2164>3 Bedroom ( 947 - 980 sqft) </option>
    <option value=2165>3 Bedroom Premium ( 1055 - 1109 sqft) </option>
    <option value=2166>3 Bedroom Dual-Key ( 1033 sqft) </option>
    <option value=2167>4 Bedroom Premium ( 1281 - 1356 sqft) </option>
    <option value=2168>4 Bedroom Suite ( 1442 sqft) </option>
    <option value=2169>5 Bedroom Suite ( 1884 sqft) </option>
  </select>

  <label for="message">Message *</label>
  <textarea id="message" name="message" rows=7 required></textarea>
  <p>
    By submitting your contact information in this webform, you permit
    us, TG Development and our appointed Marketing Agencies, to contact
    you in regards to Lloyd Sixtyfive *
  </p>

  <label>
    <input required name="agreed" type="checkbox" />
    <span>Agree</span>
  </label>
  <label>
    <input required name="agreed" type="checkbox" />
    <span>Newsletter</span>
  </label>

  <button class=button type="submit">SUBMIT</button>
</form>