<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="./img/fsLogo.svg" rel="shortcut icon" type="image/ico" />
  <title>FS - Kopar Demo</title>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" />
  <meta name="format-detection" content="telephone=no" />
  <!-- Meta -->
  <meta name="Description" lang="en_US"
    content="KOPAR At Newton, Distinctive Residences for a Distinguished Life. A prized collection of urban residences inspired by the ageless appeal of copper." />
  <meta name="keywords" lang="en_US" content="" />
  <!-- SEO Tags : FB OpenGraph -->
  <meta property="og:image" content="assets/img/site_images/home-seo.jpg" />
  <meta property="og:title" content="KOPAR AT NEWTON | CEL DEVELOPMENT" />
  <meta property="og:url" content="//koparatnewton.com.sg/" />
  <meta property="og:site_name" content="KOPAR AT NEWTON | CEL DEVELOPMENT" />
  <meta property="og:type" content="article" />
  <meta property="og:description"
    content="KOPAR At Newton, Distinctive Residences for a Distinguished Life. A prized collection of urban residences inspired by the ageless appeal of copper." />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@siteurl" />
  <meta name="twitter:creator" content="@author" />


  <!-- STYLES -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg=="
    crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css"
    integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
    crossorigin="anonymous" />
  <!-- FLAG ICON -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
    integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
    crossorigin="anonymous" />
  <!-- /FLAG ICON -->

  <!-- SWIPER -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css"
    integrity="sha512-uCQmAoax6aJTxC03VlH0uCEtE0iLi83TW1Qh6VezEZ5Y17rTrIE+8irz4H4ehM7Fbfbm8rb30OkxVkuwhXxrRg=="
    crossorigin="anonymous" />
  <!-- /SWIPER -->
  <link rel="stylesheet" href=css/index.css />
  <!-- /STYLES -->

  <!-- EXTRA_COMPONENT -->
  <script src="https://unpkg.com/@nerd-coder/cta-bar@0.5.4/dist/main.js" async></script>
  <!-- /EXTRA_COMPONENT -->

</head>

<body>
  <!-- MOBILE_HEADER -->
  <header class="mobileHeader" id="mobileHeader">
    <div class="wrapper onTop" id="TopNavMobile">
      <div class="logo">
        <a href="./" class="linkInternal"><img src="img/kopar-at-newton-logo.svg" /></a>
      </div>
      <div class="button-mainmenu" id="icon_mobile" style="display: none;">
        <span></span>
        <span></span>
      </div>
    </div>
  </header>

  <div class="enquireButton" id="enquiry_mobile">
  </div>
  <!-- /MOBILE_HEADER -->

  <!-- HEADER -->
  <header class="header">
    <!-- NAVIGATION_HEADER -->
    <div class="navigation-header" id="navHeader">
      <a href="/" id="logo"> <img class="logo" src="/img/site/kopar-at-newton-logo.svg" alt="logo"></a>
      <div id="navigation_button">
        <div id="button_enquiry" class="button-enquiry"></div>
        <div class="button-mainmenu" id="icon">
          <span class="span1"></span>
          <span class="span2"></span>
        </div>
      </div>
    </div>
    <!-- /NAVIGATION_HEADER -->

    <!-- BG_VIDEO -->
    <video autoplay loop playsinline muted class="nav_video" id="bg_video" src="./videos/samplevideo.mp4"
      preload="auto"></video>
    <!-- /BG_VIDEO -->

    <!-- FORM_CONTAINER -->
    <div class="form-containerinner" id="form-container">
      <div class="enquiry-form-info">
        <div class="enquiry-headline">
          <h2>Enquire</h2>
          <img src="./img/enquiry-logo.svg" class="enquiry-logo" alt="logo" />
        </div>
        =
        <div class="enquiry-text">
          <p>
            <a href="tel:+6561006068">Tel: +65 6100 6068</a><br /><a
              href="mailto:enquiries@koparatnewton.com.sg">enquiries@koparatnewton.com.sg</a>
          </p>
        </div>
        <div class="cel-logo">
          <a target="_blank" href="http://celdevelopment.com.sg/">
            <img src="./img/cel-logo.png" alt="cel-logo" style="max-width: 100%;" />
          </a>
        </div>
      </div>
      <div class="enquiry-wrapper">
        <form id="enquiry_form" class="form-container">
          <div class="form-col-left">
            <div class="formfield-col">
              <div class="formfield">
                <input type="text" class="formfield-text" required />
                <label class="formfield-floatlabel" for="ef_name">Name*</label>
              </div>
              <div class="formfield" id="formPhone">
                <input type="tel" id="phone" class="formfield-text phoneInput" required />
                <label class="formfield-floatlabel phone">Tel.*</label>
              </div>
              <div class="formfield">
                <input type="text" name="ef_email" id="ef_email" class="formfield-text" required />
                <label class="formfield-floatlabel" for="ef_email">Email*</label>
              </div>
            </div>
            <div class="formfield-full">
              <label class="formfield-label" for="ef_message">Message</label><textarea class="formfield-textarea"
                id="ef_message" name="ef_message" placeholder="Type your message here"></textarea>
            </div>
          </div>
          <div class="form-col-right">
            <div class="formfield noborder">
              <label class="formfield-checkboxlabel"><input class="formfield-checkbox" type="checkbox"
                  id="ef_receivemarketing" name="ef_receivemarketing" value="I Agree" />By submitting
                this form, I agree
                and consent that CEL Development Pte Ltd and its related
                corporations (collectively, the “Group”) and/or its respective representatives, agents
                and/or third
                party service providers (collectively, the “Representatives”) may collect, use,
                disclose, and process
                my personal information set out in this form and/or otherwise provided by me to respond
                to, handle and
                process queries, requests, applications, and feedback from me.</label>
            </div>
            <div class="formfield-col-full">
              <div class="formbutton-submitcontainer">
                <input class="formfield-button" type="submit" name="ef_submit" id="ef_submit" value="Submit" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /FORM_CONTAINER -->

    <!-- NAV_INNER -->
    <div class="nav-inner">
      <nav id="sub_navigation">
        <div class="desktop-extras">
          <div class="header-logo">
            <img src="./img/kopar-logo2.svg" alt="logo" />
          </div>
          <div class="cus-loading-icon">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="137" height="70" viewBox="0 0 137 34">
                <g id="Group_466" data-name="Group 466" transform="translate(-36 -549)">
                  <g id="Group_141" data-name="Group 141" transform="translate(-88.923 -249)">
                    <path id="svg-icon1" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                      fill="none" stroke="#d99a78" stroke-width="1"></path>
                    <path id="svg-icon2" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                      fill="none" stroke="#fff" stroke-width="1">
                    </path>
                    <circle id="Ellipse_6" class="bounce" data-name="Ellipse 6" cx="1.233" cy="1.233" r="1.233"
                      transform="translate(140.8 816)" fill="#d99a78">
                    </circle>
                  </g>
                </g>
              </svg>
            </div>
            <div class="icon-text">
              download e-brochure
            </div>
          </div>
          <div class="link-social">
            <img alt="fb" src="./img/facebook-logo.svg" />
            <img alt="insta" src="./img/instagram-logo.svg" />
          </div>
        </div>
      </nav>
      <nav id="main_navigation">
        <ul>
          <li>
            <!-- add class "active" to active this -->
            <a class="link-internal active" href="./" data-navname="homepage">
              Home
            </a>
            <span></span>
          </li>
          <li>
            <a class="link-internal" href="koparatnewton.html" data-navname="koparatnewton">Kopar At
              Newton</a>
            <span></span>
          </li>
          <li>
            <a class="link-internal" href="lifestyle" data-navname="lifestyle">The Lifestyle</a>
            <span></span>
          </li>
          <li>
            <a class="link-internal" href="residences" data-navname="residences">The Residences</a>
            <span></span>
          </li>
          <li>
            <a class="link-internal" href="neighborhood" data-navname="neighborhood">The Neighborhood</a>
            <span></span>
          </li>
          <li>
            <a class="link-internal" href="connectwithus" data-navname="connectwithus">Connect With Us</a>
            <span></span>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /NAV_INNER -->
  </header>
  <!-- /HEADER -->
  <!-- MAIN -->
  <main class="main"> {% block main %}{% endblock %} </main>
  <!-- /MAIN -->

  <!-- FOOTER -->
  <div class="line"></div>
  <footer class="footer">
    <div class="backTop" id="back_top"></div>
    <!-- WRAPER -->
    <div class="wraper">
      <div class="item"><img src="./img/fsLogo.svg" alt="instalogo" style="margin-left: 10px; width: 26px;"></div>
      <div class="list">
        <div class="item">Phone: (+84)905262811</div>
        <div class="item">Phone: (+84)1698108211</div>
        <div class="item">Follow us on Social Media:</div>
        <div class="item">
          <img src=/img/facebook.svg alt="fb">
          <img src=/img/google.svg alt="google">
          <img src=/img/twiiter.svg alt="tw">
        </div>
      </div>
      <!-- DROP_FLAG -->
      <div class="flagBtn">
        <select class="dropFlag" id="dropFlag" style="width: 80px;">
          <option value="vn">Vietnam</option>
          <option value="th">Thailand</option>
          <option value="la">Laos</option>
          <option value="my">Malaysia</option>
          <option value="mm">Myanmar</option>
        </select>
      </div>
      <!-- /DROP_FLAG -->
    </div>
    <!-- /WRAPER -->

  </footer>
  <!-- /FOOTER -->

  <!-- CUSTOM_COMPONENT -->
  <cta-bar></cta-bar>
  <!-- /CUSTOM_COMPONENT -->
  <!-- BOOTSTRAP -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ=="
    crossorigin="anonymous"></script> -->
  <!-- /BOOSTRAP -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"
    integrity="sha512-LfB+BcvR3zBt7ebVskhSWiSbEUiG3p5EcCprkieldsKhBeR6wpnLi0VpWC2GNgVGWP2n/skO8Bx2oKNjUhXCkw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"
    integrity="sha512-kkBkPRO6dSkCJDPNpW4Bb/1Z585gN++HKcIpClQW9IYI+4gk4yPC+eaE3CSQp3Ex+48NvzUvqmroZtR4gZnt4g=="
    crossorigin="anonymous"></script>
  <!-- SWIPER -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"
    integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww=="
    crossorigin="anonymous"></script>
  <!-- /SWIPER -->
  <script src="js/index.js"></script>
</body>

</html>