<div class="footer">
  <div class="wrapper">
    <div class="backToTop" onclick='window.scrollTo({left:0, top:0, behavior:`smooth`})'>
      <span>Back to Top <i class="fas fa-chevron-up"></i></span>
    </div>
    <div class="footerMobile">
      <div class="buttonCallus"><i class="fas fa-phone-alt"></i> CALL US </div>
      <div class="buttonEnquiry"><i class="far fa-envelope"></i> ENQUIRY</div>
    </div>
    <div class="footerLogo">
      <a href="https://www.guocoland.com.sg/index.shtml" target="_blank"><img src="../../img/assets/logo-guocoland.svg" alt=""></a>
    </div>
    <div class="contact">
      <div class="contactTop">
        <a href="#">WWW.GUOCOLAND.COM.SG</a>
        <span>|</span>
        <a href="#">SIMSDRIVE@GUOCOLAND.COM.SG</a>
        <span>|</span>
        <span style="font-size: 13px; color: rgb(82, 81, 81)"> +65 6225 9000</span>
      </div>
      <div class="lineWidth"></div>
      <div class="contactBottom">
        <a href="#">DISCLAIMER</a>
        <span>|</span>
        <a href="#">PRIVACY POLICY</a>
        <span>|</span>
        <a href="#">TERMS & CONDITIONS</a>
        <span>|</span>
        <a href="#">SITE BY METHOD</a>
      </div>
    </div>
    <div class="footerIcon">
      <span>FOLLOW US</span>
      <a href="https://www.facebook.com/simsdrive" target="_blank">
        <svg class="svggreen" version="1.1" xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" width="20px" height="20px"
          style="padding-top:3px; fill: #5d6265" enable-background="new 0 0 12 12" xml:space="preserve">
          <path d="M6.715,2.869c0-0.521,0.046-0.796,0.788-0.796h0.989V0.095H6.909C5,0.095,4.331,1.054,4.331,2.669v1.187h-1.19v1.988h1.19
                v5.747h2.377V5.844h1.587l0.214-1.988H6.708L6.715,2.869z"></path>
        </svg>
      </a>

      <a href="https://www.weibo.com/p/1006065287106383" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
          x="0px" y="0px" width="20px" height="20px" class="svggreen" viewBox="0 0 61 50"
          enable-background="new 0 0 61 50" xml:space="preserve" style="fill: #5d6265">
          <path d="M25.9,45.3C16.3,46.3,8,41.9,7.4,35.6C6.8,29.4,14,23.5,23.6,22.5c9.6-0.9,17.9,3.4,18.5,9.7
              C42.7,38.5,35.4,44.4,25.9,45.3 M45,24.4c-0.8-0.2-1.4-0.4-0.9-1.5c0.9-2.3,1-4.3,0-5.8c-1.9-2.7-7-2.5-12.9-0.1
              c0,0-1.8,0.8-1.4-0.7c0.9-2.9,0.8-5.4-0.6-6.8c-3.2-3.2-11.7,0.1-19,7.4c-5.5,5.5-8.6,11.2-8.6,16.2c0,9.6,12.3,15.4,24.3,15.4
              c15.7,0,26.2-9.1,26.2-16.4C52,28,48.3,25.5,45,24.4"></path>
          <path d="M55.5,6.9c-3.8-4.2-9.4-5.8-14.6-4.7h0c-1.2,0.3-2,1.4-1.7,2.6c0.3,1.2,1.4,2,2.6,1.7
              c3.7-0.8,7.7,0.4,10.4,3.4c2.7,3,3.4,7.1,2.3,10.7v0c-0.4,1.2,0.3,2.4,1.4,2.8c1.2,0.4,2.4-0.3,2.8-1.4c0,0,0,0,0,0
              C60.3,16.9,59.3,11.1,55.5,6.9"></path>
          <path
            d="M49.6,12.2c-1.8-2.1-4.6-2.8-7.1-2.3c-1,0.2-1.7,1.2-1.5,2.3c0.2,1,1.2,1.7,2.3,1.5v0
              c1.2-0.3,2.6,0.1,3.5,1.1c0.9,1,1.1,2.4,0.8,3.6h0c-0.3,1,0.2,2.1,1.2,2.4c1,0.3,2.1-0.2,2.4-1.2C52,17,51.5,14.2,49.6,12.2">
          </path>
          <path d="M26.4,33.9c-0.3,0.6-1.1,0.8-1.7,0.6c-0.6-0.2-0.7-0.9-0.4-1.4c0.3-0.6,1-0.8,1.6-0.6
              C26.5,32.7,26.7,33.4,26.4,33.9 M23.3,37.8c-0.9,1.5-2.9,2.1-4.4,1.4c-1.5-0.7-1.9-2.4-1-3.8c0.9-1.4,2.8-2.1,4.3-1.5
              C23.8,34.6,24.2,36.4,23.3,37.8 M26.8,27.4c-4.6-1.2-9.7,1.1-11.7,5.1c-2,4.1-0.1,8.6,4.5,10.1c4.8,1.5,10.4-0.8,12.4-5.2
              C33.9,33.1,31.5,28.6,26.8,27.4"></path>
        </svg>
      </a>
    </div>
  </div>
</div>