<header class="headermain" id="Header">
    <div class="wrapper">
        <div class="logo">
            <a href="index.html">
                <img src="../../img/assets/logo-suo.svg" alt="">
            </a>
        </div>
        <div class="enquiryHotline">
            <p style="font-weight: 500;">Enquiry Hotline: <br>
            </p>
            <p> <i class="fas fa-phone-alt"></i> (+65) 2311 5122</p>
        </div>
        <div class="topNav hide" id="contentMenu">
            <ul>
                <li>
                    <a href="indexslide.html">INDEX SLIDESHOW </a>
                </li>
                <li>
                    <a href="./design.html">DESIGN</a>
                </li>
                <li class="hasDrop">
                    <a href="#">LOCATION</a>
                    <i class="fas fa-angle-right" id="btnMenuSecond"></i>
                    <div class="dropMenu">
                        <i class="fas fa-sort-up"></i>
                        <ul>
                            <li><a href="#">TRANSFORMATION</a></li>
                            <li><a href="#">GROWTH</a></li>
                            <li><a href="#">HERITAGE</a></li>
                            <li><a href="#">ACTIVE LIFESTYLE</a></li>
                        </ul>
                    </div>
                    <div class="topNav2" id="topNav2">
                        <ul>
                            <li style="cursor: pointer;" id="btnBackMenu">back</li>
                            <li><a href="#">LOCATION</a></li>
                            <li><a href="#">TRANSFORMATION</a></li>
                            <li><a href="#">GROWTH</a></li>
                            <li><a href="#">HERITAGE</a></li>
                            <li><a href="#">ACTIVE LIFESTYLE</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">SHOP UNITS</a>
                </li>
                <li class="hasDrop">
                    <a href="#">PLANS</a>
                    <i class="fas fa-angle-right" id="btnMenuSecond2"></i>
                    <div class="dropMenu" style="right: -48px;">
                        <i class="fas fa-sort-up"></i>
                        <ul>
                            <li><a href="#">SITE PLANS</a></li>
                            <li><a href="#">FLOOR PLANS & TOURS</a></li>
                        </ul>
                    </div>
                    <div class="topNav3" id="topNav3">
                        <ul>
                            <li style="cursor: pointer;" id="btnBackMenu2">back</li>
                            <li><a href="#">PLANS</a></li>
                            <li><a href="#">SITE PLANS</a></li>
                            <li><a href="#">FLOOR PLANS & TOURS</a></li>
                        </ul>
                    </div>
                </li>
                <li class="hasDrop">
                    <a href="#">PRESS & ARTICLES</a>
                    <i class="fas fa-angle-right" id="btnMenuSecond3"></i>
                    <div class="dropMenu" style="right: -10px;">
                        <i class="fas fa-sort-up"></i>
                        <ul>
                            <li><a href="#">PRESS</a></li>
                            <li><a href="#">SIMS-PULSE</a></li>
                        </ul>
                    </div>
                    <div class="topNav4" id="topNav4">
                        <ul>
                            <li style="cursor: pointer;" id="btnBackMenu3">back</li>
                            <li><a href="#">PRESS & ARTICLES</a></li>
                            <li><a href="#">PRESS</a></li>
                            <li><a href="#">SIMS-PULSE</a></li>

                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">ABOUT GOUCOLAND</a>
                </li>
                <li>
                    <a href="enquiry.html">ENQUIRY</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>
            <div class="topNavMobile">
                <span>LANGUAGE:</span>
                <font style="font-weight: 700">EN</font>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">中文</a>
                <span>FOLLOW US</span>
            </div>
        </div>

    </div>
    <div class="humberger" id="humberger">
        <div class="btnHumberger" id="btnHumberger"></div>
    </div>
</header>