{% extends 'templates/_layout.html' %}
{% block main %}
<!-- HERO_SECTION -->
<section class="page-build hero" id="hero">
  <div class="wrapper">
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img class="imgSlide" src="/img/site/home-masthead-02-c.jpg" alt="home">
        </div>
        <div class="swiper-slide">
          <img class="imgSlide" src="/img/home-masthead-02-a.jpg" alt="masthead">
        </div>
        <div class="swiper-slide">
          <img class="imgSlide" src="/img/home-aura-bkg.jpg" alt="aura">
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <div class="swiper-pagination swiper-pagination-white"></div>

      <!-- If we need navigation buttons -->

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
    <!-- HEAD_LINE_CONTAINER -->
    <div class="headLineContainer">

      <!-- HEAD_LINE -->
      <div class="headLine">
        <div class="headLineTop">
          <div class="logoMid"></div>
        </div>
        <div class="headLineMid">
          <div class="headLineMidDinner">
            <p>DISTINCTIVE RESIDENCES FOR A DISTINGUISHED LIFE</p>
          </div>
        </div>
      </div>
      <!-- /HEAD_LINE -->

      <!-- HEAD_LINE_BTN -->
      <div class="headLineBtn">
        <div class="cus-loading-icon scrollDown">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="137" height="70" viewBox="0 0 137 34">
              <g id="Group_466" data-name="Group 466" transform="translate(-36 -549)">
                <g id="Group_141" data-name="Group 141" transform="translate(-88.923 -249)">
                  <path id="svg-icon1" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                    fill="none" stroke="#d99a78" stroke-width="1"></path>
                  <path id="svg-icon2" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                    fill="none" stroke="#fff" stroke-width="1"></path>
                  <circle id="Ellipse_6" class="bounce" data-name="Ellipse 6" cx="1.233" cy="1.233" r="1.233"
                    transform="translate(140.8 816)" fill="#d99a78"></circle>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-text" style="font-size: 14px;">
            SCROLL
          </div>
        </div>
        <div class="timerBarContainer">
          <div class="btnContainer">
            <div class="ccBtnInner">
              <div class="ccBtn active" id="ccBtn1">
                <span></span>
                <p>01</p>
              </div>
              <div class="ccBtn" id="ccBtn2">
                <span></span>
                <p>02</p>
              </div>
              <div class="ccBtn" id="ccBtn3">
                <span></span>
                <p>03</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /HEAD_LINE_BTN -->

      <!-- HEADLINE_VIDEO_CONTAINER -->
      <div class="headLineVideoContainer">
        <a href="#">
          <div class="videoItem btnVideoPlay">
            <div class="videoBg">
              <img src="./videos/home-residences-thumbnail.jpg" alt="residences">
            </div>
          </div>
        </a>
        <div class="videoText">
          KOPAR <br> FLY THROUGH
        </div>
      </div>
      <!-- /HEADLINE_VIDEO_CONTAINER -->
    </div>
    <!-- /HEAD_LINE_CONTAINER -->
  </div>
</section>
<!-- /HERO_SECTION -->

<!-- SECTION1 -->
<section class="page-build section section1">
  <!-- <picture class="imgBg">
        <source type="image/jpeg" srcset="img/site/home-masthead-01-b.jpg" media="(min-width: 1680px)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-02-b.jpg" media="(min-width: 1023px)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-03-b.jpg"
          media="(min-width: 768px) and (orientation: portrait)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-04-b.jpg"
          media="(max-width: 900px) and (orientation: landscape)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-05-b.jpg"
          media="(max-width: 767px) and (orientation: portrait)" />
        <img type="image/jpeg" src="img/site/home-masthead-01-a.jpg" title="Home | KOPAR" style="display: block;" />
      </picture> -->
  <div class="wrapper">

    <!-- RIGHT-COMPONENT -->
    <div class="right">
      <div class="blockRight">
        <div class="imgBlock ">
          <picture class="imgBg cusParallax">
            <source type="image/jpeg" srcset="img/home-overview.jpg"
              media="(max-width: 767px) and (orientation: portrait)">
            <img src="/img/home-overview.jpg" alt="home-overview" title="Home | Kopar">
            <div class="imgCite">Artist’s Impression</div>
          </picture>
        </div>
      </div>
    </div>
    <!-- /RIGHT-COMPONENT -->

    <!-- LEFT-COMPONENT -->
    <div class="left">
      <div class="blockTextLeft">
        <div class="textContent">

          <!-- HEADER-INNER -->
          <div class="headLineInner">
            <h2>
              <span>PURE, ELEMENTAL</span>
              <span>ESSENTIAL.</span>
            </h2>
          </div>
          <!-- /HEADER-INNER -->

          <!-- PARA-INNER -->
          <div class="paraInner">
            <p>
              Kopar At Newton is a prized collection of urban residences inspired by the ageless appeal of copper.
              From being the first metal to be discovered some 10,000 years ago,
              copper has withstood the test of time to become one of civilisation’s most enduring and essential
              elements.
              Symbolising beauty, value, generosity, warmth, comfort and life, copper has remained our constant
              companion.
            </p>
            <select class="inputTag" multiple="multiple" style="width: 100%">
              <option value="2161" data-select2-id="7">2 Bedroom ( 549 - 603 sqft) </option>
              <option value="2162" data-select2-id="8">2 Bedroom + Study ( 689 - 764 sqft) </option>
              <option value="2163" data-select2-id="9">2 Bedroom Deluxe (HS) ( 732 - 764 sqft) </option>
              <option value="2164" data-select2-id="10">3 Bedroom ( 947 - 980 sqft) </option>
              <option value="2165" data-select2-id="11">3 Bedroom Premium ( 1055 - 1109 sqft) </option>
              <option value="2166" data-select2-id="12">3 Bedroom Dual-Key ( 1033 sqft) </option>
            </select>
          </div>
          <!-- /PARA-INNER -->

        </div>
      </div>
    </div>
    <!-- /LEFT-COMPONENT -->
  </div>
</section>
<!-- /SECTION1 -->

<!-- SECTION2 -->
<section class="page-build section section2">
  <div class="wrapper wrapper2">

    <!-- RIGHT-COMPONENT -->
    <div class="right">
      <div class="blockRight">
        <div class="imgBlock imgBlock2">
          <picture class="imgBg cusParallax">
            <source type="image/jpeg" srcset="img/home-stella-bkg.jpg"
              media="(max-width: 767px) and (orientation: portrait)">
            <img src="img/home-stella-bkg.jpg" alt="home-overview" title="Home | Kopar">
            <div class="imgCite">Artist’s Impression</div>
          </picture>
        </div>
      </div>
    </div>
    <!-- /RIGHT-COMPONENT -->

    <!-- LEFT-COMPONENT -->
    <div class="left left2">
      <div class="blockTextLeft">
        <div class="textContent">

          <!-- HEADER-INNER -->
          <div class="contentHeadlineLogo">
            <img src="./img/stella-brand.svg" alt="">
          </div>
          <!-- /HEADER-INNER -->

          <!-- PARA-INNER -->
          <div class="paraInner paraInner2">
            <p>
              STELLA, the clubhouse. is the star of Kopar At Newton.
              Glitzy and glamorous, STELLA captivates and mesmerises.
              It has a grand lounge, entertainment parlour, wine bar,
              and gourmet dining to impress, host and mingle.
            </p>
            <div class="cus-loading-icon">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="137" height="70" viewBox="0 0 137 34">
                  <g id="Group_466" data-name="Group 466" transform="translate(-36 -549)">
                    <g id="Group_141" data-name="Group 141" transform="translate(-88.923 -249)">
                      <path id="svg-icon1" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#d99a78" stroke-width="1"></path>
                      <path id="svg-icon2" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#fff" stroke-width="1"></path>
                      <circle id="Ellipse_6" class="bounce" data-name="Ellipse 6" cx="1.233" cy="1.233" r="1.233"
                        transform="translate(140.8 816)" fill="#d99a78"></circle>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="icon-text" style="font-size: 14px;">
                Learn more
              </div>
            </div>
          </div>
          <!-- /PARA-INNER -->
        </div>
        <section class="sectionCarousel">
          <div class="wrapper2">
            <img src="./img/home-stella-01.jpg" alt="stella-01">
          </div>
        </section>
      </div>
    </div>
    <!-- /LEFT-COMPONENT -->
  </div>
</section>
<!-- /SECTION2 -->

<!-- SECTION3 -->
<section class="page-build section section3">
  <div class="wrapper wrapper3">

    <div class="left3">
      <img class="bgImgSec3" type="image/jpeg" src="/img/home-aura-bkg.jpg" title="Home | Aura | KOPAR">
      <div class="bgColor"></div>
    </div>

    <div class="right right3">
      <div class="blockRight blockRight3">
        <div class="textContent">

          <!-- HEADER-INNER -->
          <div class="contentHeadlineLogo">
            <h2>
              <img src="./img/aura-brand.svg" alt="">
            </h2>
          </div>
          <!-- /HEADER-INNER -->

          <!-- PARA-INNER -->
          <div class="paraInner paraInner3">
            <p>
              AURA, the wellness and spa zone, connotes light and glow.
              The facilities here include the Hot and Cold Spa, Hydrotherapy Pool, and the Microbubble Spa.
              Set in an enchanting landscape, AURA is a sanctuary for wellness and personal time.
            </p>
            <div class="cus-loading-icon">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="137" height="70" viewBox="0 0 137 34">
                  <g id="Group_466" data-name="Group 466" transform="translate(-36 -549)">
                    <g id="Group_141" data-name="Group 141" transform="translate(-88.923 -249)">
                      <path id="svg-icon1" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#d99a78" stroke-width="1"></path>
                      <path id="svg-icon2" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#fff" stroke-width="1"></path>
                      <circle id="Ellipse_6" class="bounce" data-name="Ellipse 6" cx="1.233" cy="1.233" r="1.233"
                        transform="translate(140.8 816)" fill="#d99a78"></circle>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="icon-text" style="font-size: 14px;">
                Learn more
              </div>
            </div>
          </div>
          <!-- /PARA-INNER -->
        </div>
      </div>
    </div>

    <div class="cusCarousel">
      <img src="./img/home-aura-01.jpg" alt="home aura">
    </div>
  </div>
</section>
<!-- /SECTION3 -->

<!-- SECTION4 -->
<section class="page-build section section2">
  <div class="wrapper wrapper2">

    <!-- RIGHT-COMPONENT -->
    <div class="right">
      <div class="blockRight">
        <div class="imgBlock imgBlock2">
          <picture class="imgBg cusParallax">
            <source type="image/jpeg" srcset="img/home-stella-bkg.jpg"
              media="(max-width: 767px) and (orientation: portrait)">
            <img src="img/home-stella-bkg.jpg" alt="home-overview" title="Home | Kopar">
            <div class="imgCite">Artist’s Impression</div>
          </picture>
        </div>
      </div>
    </div>
    <!-- /RIGHT-COMPONENT -->

    <!-- LEFT-COMPONENT -->
    <div class="left left2">
      <div class="blockTextLeft">
        <div class="textContent">

          <!-- HEADER-INNER -->
          <div class="contentHeadlineLogo">
            <img src="./img/vita-brand.svg" alt="">
          </div>
          <!-- /HEADER-INNER -->

          <!-- PARA-INNER -->
          <div class="paraInner paraInner2">
            <p>
              VITA, the activity zone, symbolises vitality and vigour,
              brought to life through a curated suite of facilities such as the Infinity-Edge Lap Pool,
              Kids’ pool, Gymnasium, Tennis Court and various pavilions appealing to adults and children alike.
            </p>
            <div class="cus-loading-icon">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="137" height="70" viewBox="0 0 137 34">
                  <g id="Group_466" data-name="Group 466" transform="translate(-36 -549)">
                    <g id="Group_141" data-name="Group 141" transform="translate(-88.923 -249)">
                      <path id="svg-icon1" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#d99a78" stroke-width="1"></path>
                      <path id="svg-icon2" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#fff" stroke-width="1"></path>
                      <circle id="Ellipse_6" class="bounce" data-name="Ellipse 6" cx="1.233" cy="1.233" r="1.233"
                        transform="translate(140.8 816)" fill="#d99a78"></circle>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="icon-text" style="font-size: 14px;">
                Learn more
              </div>
            </div>
          </div>
          <!-- /PARA-INNER -->
        </div>
        <section class="sectionCarousel">
          <div class="wrapper2">
            <img src="./img/home-vita-01.jpg" alt="stella-01">
          </div>
        </section>
      </div>
    </div>
    <!-- /LEFT-COMPONENT -->
  </div>
</section>
<!-- /SECTION4 -->

<!-- SECTION5 -->
<section class="page-build section section5">
  <div class="form-containerinner" id="form-container">
    <div class="enquiry-form-info">
      <div class="enquiry-headline">
        <h2>Enquire</h2>
        <img src="./img/enquiry-logo.svg" class="enquiry-logo" alt="logo" />
      </div>
      <div class="enquiry-text">
        <p>
          <a href="tel:+6561006068">Tel: +65 6100 6068</a><br /><a
            href="mailto:enquiries@koparatnewton.com.sg">enquiries@koparatnewton.com.sg</a>
        </p>
      </div>
      <div class="cel-logo">
        <a target="_blank" href="http://celdevelopment.com.sg/">
          <img src="./img/cel-logo.png" alt="cel-logo" style="max-width: 100%;" />
        </a>
      </div>
    </div>
    <div class="enquiry-wrapper">
      <form class="form-container">
        <div class="form-col-left">
          <div class="formfield-col">
            <div class="formfield">
              <input type="text" class="formfield-text" required />
              <label class="formfield-floatlabel" for="ef_name">Name*</label>
            </div>
            <div class="formfield" id="formPhone2" class="phoneWrap">
              <input type="tel" id="phone2" class="formfield-text phone2" required />
              <label class="formfield-floatlabel phone">Tel.*</label>
            </div>
            <div class="formfield " id="formPhone">
              <select class="inputTag" multiple="multiple" style="width: 100%">
                <option value="2161" data-select2-id="7">2 Bedroom ( 549 - 603 sqft) </option>
                <option value="2162" data-select2-id="8">2 Bedroom + Study ( 689 - 764 sqft) </option>
                <option value="2163" data-select2-id="9">2 Bedroom Deluxe (HS) ( 732 - 764 sqft) </option>
                <option value="2164" data-select2-id="10">3 Bedroom ( 947 - 980 sqft) </option>
                <option value="2165" data-select2-id="11">3 Bedroom Premium ( 1055 - 1109 sqft) </option>
                <option value="2166" data-select2-id="12">3 Bedroom Dual-Key ( 1033 sqft) </option>
                <option value="2167" data-select2-id="13">4 Bedroom Premium ( 1281 - 1356 sqft) </option>
                <option value="2168" data-select2-id="14">4 Bedroom Suite ( 1442 sqft) </option>
                <option value="2169" data-select2-id="15">5 Bedroom Suite ( 1884 sqft) </option>
              </select>
              <label id="labelInputTag" class="formfield-floatlabel labelSelectTag">Unit types*</label>
            </div>
            <div class="formfield">
              <input type="text" name="ef_email" class="formfield-text" required />
              <label class="formfield-floatlabel" for="ef_email">Email*</label>
            </div>
          </div>
          <div class="formfield-full">
            <label class="formfield-label" for="ef_message">Message</label><textarea class="formfield-textarea"
              name="ef_message" placeholder="Type your message here"></textarea>
          </div>
        </div>
        <div class="form-col-right">
          <div class="formfield noborder">
            <label class="formfield-checkboxlabel"><input class="formfield-checkbox" type="checkbox"
                name="ef_receivemarketing" value="I Agree" />By submitting this form, I
              agree
              and consent that CEL Development Pte Ltd and its related
              corporations (collectively, the “Group”) and/or its respective representatives, agents and/or third
              party service providers (collectively, the “Representatives”) may collect, use, disclose, and process
              my personal information set out in this form and/or otherwise provided by me to respond to, handle and
              process queries, requests, applications, and feedback from me.</label>
          </div>
          <div class="formfield-col-full">
            <div class="formbutton-submitcontainer">
              <input class="formfield-button" type="submit" name="ef_submit" value="Submit" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- SECTION5 -->
{% endblock %}