{% extends 'templates/_layout.html' %}
{% block main %}
{% include 'templates/_popUp.html' %}

<!-- CTA_BTN -->
<section class="ctaPopUp" id="ctaContain">
  <div class="wrapper">
    <img src="/img/create.svg" alt="create icon">
    <span> IMPORTANT ANNOUNCEMENT </span>
    <div class="ctaBtn" id="ctaBtn">
      More Detail...
    </div>
  </div>
  <img class="icon" src="/img/bell.svg" alt="icon" id="ctaBtnM">
</section>
<!-- /CTA_BTN -->

<!-- SECTION1 -->
<section class="page-build section section1">
  <!-- <picture class="imgBg">
        <source type="image/jpeg" srcset="img/site/home-masthead-01-b.jpg" media="(min-width: 1680px)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-02-b.jpg" media="(min-width: 1023px)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-03-b.jpg"
          media="(min-width: 768px) and (orientation: portrait)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-04-b.jpg"
          media="(max-width: 900px) and (orientation: landscape)" />
        <source type="image/jpeg" srcset="img/site/home-masthead-05-b.jpg"
          media="(max-width: 767px) and (orientation: portrait)" />
        <img type="image/jpeg" src="img/site/home-masthead-01-a.jpg" title="Home | KOPAR" style="display: block;" />
      </picture> -->
  <div class="wrapper">

    <!-- RIGHT-COMPONENT -->
    <div class="right">
      <div class="blockRight">
        <div class="imgBlock ">
          <picture class="imgBg cusParallax">
            <source type="image/jpeg" srcset="img/home-overview.jpg"
              media="(max-width: 767px) and (orientation: portrait)">
            <img src="/img/home-overview.jpg" alt="home-overview" title="Home | Kopar">
            <div class="imgCite">Artist’s Impression</div>
          </picture>
        </div>
      </div>
    </div>
    <!-- /RIGHT-COMPONENT -->

    <!-- LEFT-COMPONENT -->
    <div class="left">
      <div class="blockTextLeft">
        <div class="textContent">

          <!-- HEADER-INNER -->
          <div class="headLineInner">
            <h2>
              <span>PURE, ELEMENTAL</span>
              <span>ESSENTIAL.</span>
            </h2>
          </div>
          <!-- /HEADER-INNER -->

          <!-- PARA-INNER -->
          <div class="paraInner">
            <p>
              Kopar At Newton is a prized collection of urban residences inspired by the ageless appeal of
              copper.
              From being the first metal to be discovered some 10,000 years ago,
              copper has withstood the test of time to become one of civilisation’s most enduring and
              essential
              elements.
              Symbolising beauty, value, generosity, warmth, comfort and life, copper has remained our
              constant
              companion.
            </p>
            <select class="inputTag" multiple="multiple" style="width: 100%">
              <option value="2161" data-select2-id="7">2 Bedroom ( 549 - 603 sqft) </option>
              <option value="2162" data-select2-id="8">2 Bedroom + Study ( 689 - 764 sqft) </option>
              <option value="2163" data-select2-id="9">2 Bedroom Deluxe (HS) ( 732 - 764 sqft) </option>
              <option value="2164" data-select2-id="10">3 Bedroom ( 947 - 980 sqft) </option>
              <option value="2165" data-select2-id="11">3 Bedroom Premium ( 1055 - 1109 sqft) </option>
              <option value="2166" data-select2-id="12">3 Bedroom Dual-Key ( 1033 sqft) </option>
            </select>
          </div>
          <!-- /PARA-INNER -->

        </div>
      </div>
    </div>
    <!-- /LEFT-COMPONENT -->
  </div>
</section>
<!-- /SECTION1 -->

<!-- SECTION2 -->
<section class="page-build section section2">
  <div class="wrapper wrapper2">

    <!-- RIGHT-COMPONENT -->
    <div class="right">
      <div class="blockRight">
        <div class="imgBlock imgBlock2">
          <picture class="imgBg cusParallax">
            <source type="image/jpeg" srcset="img/home-stella-bkg.jpg"
              media="(max-width: 767px) and (orientation: portrait)">
            <img src="img/home-stella-bkg.jpg" alt="home-overview" title="Home | Kopar">
            <div class="imgCite">Artist’s Impression</div>
          </picture>
        </div>
      </div>
    </div>
    <!-- /RIGHT-COMPONENT -->

    <!-- LEFT-COMPONENT -->
    <div class="left left2">
      <div class="blockTextLeft">
        <div class="textContent">

          <!-- HEADER-INNER -->
          <div class="contentHeadlineLogo">
            <img src="./img/stella-brand.svg" alt="">
          </div>
          <!-- /HEADER-INNER -->

          <!-- PARA-INNER -->
          <div class="paraInner paraInner2">
            <p>
              STELLA, the clubhouse. is the star of Kopar At Newton.
              Glitzy and glamorous, STELLA captivates and mesmerises.
              It has a grand lounge, entertainment parlour, wine bar,
              and gourmet dining to impress, host and mingle.
            </p>
            <div class="cus-loading-icon">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="137" height="70" viewBox="0 0 137 34">
                  <g id="Group_466" data-name="Group 466" transform="translate(-36 -549)">
                    <g id="Group_141" data-name="Group 141" transform="translate(-88.923 -249)">
                      <path id="svg-icon1" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#d99a78" stroke-width="1"></path>
                      <path id="svg-icon2" d="M33 35  L17 19 1 35 17 51 33 35 83 35" transform="translate(125 781)"
                        fill="none" stroke="#fff" stroke-width="1"></path>
                      <circle id="Ellipse_6" class="bounce" data-name="Ellipse 6" cx="1.233" cy="1.233" r="1.233"
                        transform="translate(140.8 816)" fill="#d99a78">
                      </circle>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="icon-text" style="font-size: 14px;">
                Learn more
              </div>
            </div>
          </div>
          <!-- /PARA-INNER -->
        </div>
        <section class="sectionCarousel">
          <div class="wrapper2">
            <img src="./img/home-stella-01.jpg" alt="stella-01">
          </div>
        </section>
      </div>
    </div>
    <!-- /LEFT-COMPONENT -->
  </div>
</section>
<!-- /SECTION2 -->
{% endblock %}