@font-face {
  font-family: 'Louize';
  src: url('../fonts/Louize.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LouizeDisplay';
  src: url('../fonts/LouizeDisplay.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LouizeDisplay';
  src: url('../fonts/LouizeDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
