/* Typography */
$fontFamily: "'Louize', sans-serif";
$fontFamilySecondry: 'LouizeDisplay', sans-serif;

$font-pri: 'Louize', sans-serif;
$font-sec: 'LouizeDisplay', sans-serif;

/* Colors */
$color-pri: #e8ad80;
$color-black: #000000;
$color-white: #ffffff;
$color-lightcopper: #d99a78;
$color-blackcopper: #190f0a;
$color-brown: #693d2a;
$white: #fff;

/* Break Points */
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1024px;
