.footer {
  background-color: #e5e2dc;
  padding: 30px 15px;
  text-align: center;

  @media (min-width: 500px) {
    padding: 30px 30px 10px 30px;
  }

  .wrapper {
    .footerLogo {
      max-width: 300px;
      width: 100%;
      margin: 20px auto 30px auto;
    }

    .footerNavigation {
      ul {
        list-style: none;
        text-align: center;
        min-width: 280px;
        margin: auto;
        padding-inline-start: 0px;

        @media (min-width: 600px) {
          max-width: initial;
        }

        li {
          display: inline-block;
          margin: 0px 10px 25px 10px;

          a {
            color: #3d3c29;
            font-family: astoria, sans-serif;
            text-transform: uppercase;
            font-size: 0.688rem;
            letter-spacing: 0.03rem;
            text-decoration: none;
            transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
            vertical-align: baseline;
          }
        }
      }
    }
  }
}
