<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Formed of eight blocks, Sims Urban Oasis is a 99-year leasehold condominium situated in Sims Drive that will provide large open spaces with lush greenery, vertical greens and pavilions aimed at giving occupants a wider range of outdoor activity. Residents living in Sims Urban Oasis will also enjoy a skypark on the 19th storey that will offer a panoramic view of the city’s skyline. Perhaps best of all, Sims Urban Oasis is nestled within a great location that’s really kicking off with a slew of exciting developments. " />
  <meta name="Keywords" lang="en"
    content="Sims Urban Oasis, Transformation, Unfolding the Future, Growth, Turning, Hip, Turning Hip, Future, Heritage, Old School, Old School Charm, Old, Location, Excellent Connectivity, Excellent, Connectivity, Active Lifestyle, Fitness and Health, Fitness, Health, City Edge, City Fringe, Upcoming Launch, New Condominium, Sims Drive, City Fringe, Sims An Urban Oasis, 99-Year Leasehold, Aljunied MRT Station">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
  <script type="text/javascript" src="https://fast.fonts.net/jsapi/d35839de-2b12-4976-bdc6-1ad6ea5f4ffb.js"></script>
  <!-- SEO Tags : FB OpenGraph -->
  <meta property="og:image" content="https://www.simsurbanoasis.com.sg/img/site_images/main-02.jpg" />
  <meta property="og:title" content="Sims Urban Oasis | A New Urban Oasis Emerges" />
  <meta property="og:url" content="https://www.simsurbanoasis.com.sg/" />
  <meta property="og:site_name" content="Sims Urban Oasis" />
  <meta property="og:type" content="website" />
  <meta property="og:description"
    content="Formed of eight blocks, Sims Urban Oasis is a 99-year leasehold condominium situated in Sims Drive that will provide large open spaces with lush greenery, vertical greens and pavilions aimed at giving occupants a wider range of outdoor activity. Residents living in Sims Urban Oasis will also enjoy a skypark on the 19th storey that will offer a panoramic view of the city’s skyline. Perhaps best of all, Sims Urban Oasis is nestled within a great location that’s really kicking off with a slew of exciting developments. " />
  <meta property="og:locale" content="en_US" />
  <!-- SEO Tags : Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@suo">
  <meta name="twitter:creator" content="@suo">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/index.css">
  <!-- Button -->
  <script src="https://unpkg.com/@nerd-coder/cta-bar/dist/main.js" async></script>
  <title>Sims Urban Oasis | New Iconic Residential Development | New Condominium in Singapore D14</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/assets/favicon.ico">
  <!-- Swiper Slide -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
  <!-- {% include './layout/_header.html' %} -->
  <main class="main">{% block main %}{% endblock %}</main>
  {% include './layout/_footer.html' %}
  <script src="/js/index.js"></script>
  <script type="module">
    import Swiper from "https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js";
    var mySwiper = new Swiper(".swiper-container", {
      autoplay: {
        delay: 3000,
      },
      // Optional parameters
      direction: "horizontal",
      loop: true,

      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
      },

      // Navigation arrows
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      // And if we need scrollbar
      scrollbar: {
        el: ".swiper-scrollbar",
      },
    });
  </script>
</body>

</html>