{% extends 'template/_layout.html' %} {% block main %}
{% include 'template/_popUp.html' %}
{% include 'template/_ctaBtn.html' %}
<section class="hero amenities">
  <picture class="bg">
    <source media="(min-width: 540px)" srcset="/img/site_images/amenities-masthead-bg.jpg" />
    <img src="/img/site_images/amenities-masthead-bg.jpg" alt="Hero Image" />
  </picture>
  <div class="scroll" id=scrollDownBtn>
    SCROLL DOWN
    <img class='arrow' src="img/site_assets/scroll-down.svg" alt="Scroll Down">
  </div>
  <a class="playVideoBtn nei" href="https://www.youtube.com/watch?v=Fyo9JLcQcZA" data-lity>
    <img class=icon src=img/site_assets/icon-playvid.svg alt="Play Video" />
    <span class="text">Play Video</span>
  </a>
</section>
<section class="page-build">
  <h3>SAMPLE SECTION</h3>
  <p>
    Lorem ipsum dolor sit amet, , sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <span class="quo">- Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
  <button class="button">CLICK ME</button>
</section>
<section class="secParallax page-build">
  <img class="bgAmenities" id="bgPrl" src="./img/site_images/amenities-separator01.jpg" alt="amenities">
  <img class="bgSm" src="./img/site_images/amenities-separator01.jpg" alt="amenities">
</section>
<section class="page-build">
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</section>
<section class="page-build bgBlack sliceRight">
  <img class="bg" src="img/site_images/Home-enquiry.jpg" />
  <h3>ARRANGE A PRIVATE VIEWING</h3>
  <p>
    Show Suites Available for Viewing by Appointment or Walk In<br />
    65 Lloyd Road, Singapore 239 114<br />
    Open daily from 12pm to 6pm<br />
  </p>
  {% include 'template/form.html' %}
</section>
{% endblock %}