<header class="header" id="Header">
    <div class="wrapper">
        <div class="menu">
            =
        </div>
        <a href="index.html" class="logo"></a>

        <div class="menuContent">
            <ul>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Interior</a></li>
                <li><a href="#">Neighbourhood</a></li>
                <li><a href="#">Developer</a></li>
                <li><a href="#" style="color: #a95436;">Register Now</a></li>
                <div class="language">
                    <li><a href="#">中文</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </div>
            </ul>
        </div>
    </div>
</header>