/* Colours */
$darkgreen: #1a2026;
$lightgreen: #313c46;
$lgrey: #bbbbbb;
$dgrey: #1d1d1d;
$grey: #333333;
$white: #ffffff;

/* Typography */
$fontFamily: Cera-GR, sans-serif;

/* Layout */
$layoutMargin: 64px;
$layoutMaxWidth: 1200px;
$layoutHeaderHeight: 80px;

/* Break Points */
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1024px;
