{% extends 'templates/_layout.html' %}
{% block main %}
<section class="hero page-build">
    <div class="wrapper">

        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide slide1"></div>
                <div class="swiper-slide slide2"></div>
                <div class="swiper-slide slide3"></div>
                <div class="swiper-slide slide4"></div>
                <div class="swiper-slide slide5"></div>
            </div>
            <!-- If we need pagination
            <div class="swiper-pagination"></div> -->

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <div class="movieBtn" onclick="document.querySelector('#secTwo').scrollIntoView({ behavior: 'smooth' })">
                <img src="./img/assets/down.svg" alt="down arrow">
            </div>
        </div>


        <img class="imgHero" src="/img/images/index-movieplaceholder.jpg" alt="">

        <div class="movieText">
            <h1>connected <br> city living </h1>
            <img class="logo" src="./img/assets/logo-suo.svg" alt="logo">
            <img class="icon" src="./img/assets/home-movieplay.png" alt="home-movieplay">
            <h6>launch video</h6>
        </div>
    </div>
</section>
{% include './templates/layout/_header.html' %}
<section class="secTwo" id="secTwo">
    <div class="contentContainer">
        <div class="wrapper">
            <div class="layoutContent design">
                <div class="hoverContent">
                    <div class="contentInnerHover">
                        <h2>DESIGN</h2>
                        <p>A Home to fit your Modern Lifestyle</p>
                        <div class="dividerLine"></div>
                        <p class="font75">Sims Urban Oasis offers four efficient and functional types of dwelling units,
                            they are
                            the Compact
                            ‘Suites’, Urban ‘LOFT’, ‘Grand’ lifestyle and the Exclusive ‘Deluxe’ units with dual-key
                            options</p>
                        <a href="#">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="contentInner">
                    <div class="dividerLine"></div>
                    <h2>DESIGN</h2>
                    <p>A Home to fit your Modern Lifestyle</p>
                </div>
            </div>

            <div class="layoutContent simUrbanOasis">
                <div class="hoverContent">
                    <div class="contentInnerHover">
                        <h2>SIMS URBAN OASIS</h2>
                        <div class="dividerLine"></div>
                        <p class="font75">Located at the junction of Sims Drive and Aljunied Road, Sims Urban Oasis’s
                            excellent
                            connectivity means everything is close to you, including the Marina Bay, CBD, Aljunied MRT
                            Station and
                            more</p>
                        <a href="#">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="cusProjectLogo">
                    <img src="./img/images/logo-suo.svg" alt="">
                </div>
            </div>

            <div class="layoutContent location">
                <div class="hoverContent">
                    <div class="contentInnerHover">
                        <h2>LOCATION</h2>
                        <p>The Rise of a New District</p>
                        <div class="dividerLine"></div>
                        <p class="font75">Sims Urban Oasis is set to be the centre of all that’s new</p>
                        <a href="#">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="contentInner">
                    <div class="dividerLine"></div>
                    <h2>Location</h2>
                    <p>The Rise of the New District</p>
                </div>
            </div>

            <div class="layoutContent siteplan">
                <div class="hoverContent">
                    <div class="contentInnerHover">
                        <h2>SITEPLAN</h2>
                        <p>Specially Designed Amenities</p>
                        <div class="dividerLine"></div>
                        <p class="font75">A place specially designed to create opportunities for interaction</p>
                        <a href="#">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="contentInner">
                    <div class="dividerLine"></div>
                    <h2>SITEPLAN</h2>
                    <p>Specially Designed Amenities</p>
                </div>
            </div>

            <div class="layoutContent floor">
                <div class="hoverContent">
                    <div class="contentInnerHover">
                        <h2>FLOOR PLANS & TOURS</h2>
                        <p>A Wide Selection of Units</p>
                        <div class="dividerLine"></div>
                        <p class="font75">A resplendent residence with a wide selection of units of different sizes and
                            designs</p>
                        <a href="#">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="contentInner">
                    <div class="dividerLine"></div>
                    <h2>FLOOR PLANS & TOURS</h2>
                    <p>A Wide Selection of Units</p>
                </div>
            </div>

            <div class="layoutContent press">
                <div class="hoverContent">
                    <div class="contentInnerHover">
                        <h2>PRESS</h2>
                        <p>Latest Happenings</p>
                        <div class="dividerLine"></div>
                        <p class="font75">Read articles on what’s happening around Sims Urban Oasis!s</p>
                        <a href="#">FIND OUT MORE</a>
                    </div>
                </div>
                <div class="contentInner">
                    <div class="dividerLine"></div>
                    <h2>PRESS</h2>
                    <p>latest Happenings</p>
                </div>
            </div>
        </div>
    </div>
</section>

<cta-bar></cta-bar>
{% endblock%}