<footer class="footer">
    <div class="wrapper">
        <div class="headline">
            <img src="../img/1/ecokit_logo_black.png" alt="">
            <div class="textheadline">
                <p><span>e.</span> howdy@ecokit.com.au</p>
                <p><span>p.</span> 03 8375 6861</p>
            </div>
        </div>
        <div class="suitableFor 1">
            <h4>SUITABLE FOR</h4>

            <ul>
                <li>
                    <a href="#">Home buyers</a>
                </li>
                <li>
                    <a href="#">Developer</a>
                </li>
                <li>
                    <a href="#">Builders</a>
                </li>
            </ul>
        </div>

        <div class="suitableFor 2">
            <h4>ECOKIT SYSTEM</h4>

            <ul>
                <li>
                    <a href="#">The system</a>
                </li>
                <li>
                    <a href="#">The process</a>
                </li>
                <li>
                    <a href="#">The materials</a>
                </li>
                <li>
                    <a href="#">Designs & pricing</a>
                </li>
                <li>
                    <a href="#">Energy efficient homes</a>
                </li>
            </ul>
        </div>

        <div class="suitableFor 3">
            <h4>ECOKIT HQ</h4>

            <ul>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
                <li>
                    <a href="#">Media</a>
                </li>
                <li>
                    <a href="#">News & announcements</a>
                </li>
                <li>
                    <a href="#">Newsletters</a>
                </li>
            </ul>
        </div>

        <div class="lastContent">
            <div class="headline">
                <p>© 2020 ecokit.
                    pty ltd ABN 79 607 059 923 <a href="https://ecokit.com.au/terms-conditions/" target="_blank">Terms
                        &amp;
                        conditions
                    </a>
                </p>
            </div>
            <div class="social">
                <ul>
                    <li>
                        <a target="_blank" href="https://twitter.com/ecokit_homes">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/ecokitAU/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.pinterest.com.au/ecokit_homes/">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/ecokit-homes">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/c/ecokithomes">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/ecokit_homes/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>