<header class="header" id="Header">
    <div class="wrapper" id="headerContent">
        <div class="search" id="search">
            <input type="text" placeholder="START TYPING...">
        </div>
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="../img/1/ecokit_logo_black.png" alt="">
                </a>
            </div>
            <div class="logo2">
                <a href="index.html">
                    <img src="../img/1/ecokit_logo_mobile_black.png" alt="">
                </a>
            </div>
            <div class="hotline">
                <span>Developer Sales Hotline:</span><br>
                <span><a href="tel:+65 2311 5122">+65 2311 5122</a></span> |
                <span><a href="tel:+65 8188 6111">+65 8188 6111</a></span>
            </div>
            <div class="menuHeader">
                <nav>
                    <ul>
                        <li><a href="#">HOME BUYERS</a></li>
                        <li><a href="#">DEVELOPERS</a></li>
                        <li><a href="#">BUILDERS</a></li>
                    </ul>
                    <ul class="UL2">
                        <li>
                            <div class="searchBox" id="searchbtn">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="btnMenu" id="btnMenu">
                                <div class="humberger" id="humberger">

                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="hiddenMenu" id="menuContent">
    </div>
    <div class="menuContent">
        <div class="menuBox">
            <div class="hotlineMobile">
                <span>Enquiry Hotline:</span><br>
                <span><a href="tel:+65 2311 5122">+65 2311 5122</a></span>
            </div>
            <div class="fasFaTimes">
                <i class="fas fa-times" id="closeMenuContent"></i>
            </div>
            <ul>
                <li><a href="#">home buyers</a></li>
                <li><a href="#">developers</a></li>
                <li><a href="#">builders</a></li>
            </ul>

            <ul class="secondMenu">
                <li class="dropMenu" id="secondMenu">
                    <div class="faAngleUp" id="openDropMenu"><i class="fas fa-angle-up"></i></div>

                    <a href="#">system</a>
                    <span>
                        <a href="#">energy efficiency</a>
                        <a href="#">materials</a>
                    </span>
                </li>
                <li><a href="indexslide.html">index slides</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">newsletters</a></li>
                <li><a href="#">media</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">contact us</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>

            <div class="textLine">
                <p>Subscribe to our newsletter and be first to know about the latest eco-living news, inspiration and
                    updates.</p>
            </div>

            <form>
                <input type="text" placeholder="Type your first name">
                <input type="text" placeholder="Type your email">
                <iframe
                    src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcRpfcUAAAAAM_ZVtkEoB1WM4ayvVQwCCLwnIQ2&amp;co=aHR0cHM6Ly93d3cubWV5ZXJtYW5zaW9uLmNvbS5zZzo0NDM.&amp;hl=vi&amp;v=NjbyeWjjFy97MXGZ40KrXu3v&amp;size=normal&amp;cb=k3jijjm23hgs"
                    width="304" height="78" role="presentation" name="a-sm4waw6ake6" frameborder="0" scrolling="no"
                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                    style="margin-top: 10px">
                </iframe>
                <button>Sign me up!</button>
            </form>
        </div>
    </div>

</header>