{% extends 'templates/_layout.html' %}
{% block main %}

<section class="hero">
    <div class="wrapper">
        
        <div class="arrowDown" onclick="document.querySelector('#intro').scrollIntoView({ behavior: 'smooth' })">
            <div class="btnDown">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
                <span class="line4"></span>
            </div>
        </div>
    </div>
</section>

<section class="Intro" id="intro">
    <div class="wrapper">
        <div class="secTwoContent">
            <div class="headline">
                <h1>WHAT IS ECOKIT?</h1>
                <h2>Top quality. Zero compromises.</h2>
            </div>
            <div class="textline">
                <p>House construction as we know it hasn’t changed significantly over the past few centuries. In the
                    last 50
                    years we have seen technology completely transform our lives. So, why in the age of easy access to
                    amazing
                    innovations & ideas, are we not using today’s technology to make homes better?</p>

                <p>We’ve decided to challenge the way houses are being built and that’s why we have designed ecokit –
                    the
                    innovative construction system. Using ecokit guarantees an energy efficient home that stays
                    comfortable all
                    year round while using a fraction of energy, compared to a standard house.</p>

                <p>Ecokit can also be easily assembled by anyone and the assembly is fast, allowing much shorter
                    construction
                    time.</p>
            </div>
        </div>
    </div>
</section>

<section class="IntroCTA">
    <div class="wrapper">
        <div class="secThreeContent">
            <div class="buyersBox">
                <div class="boxinner">
                    <h4>
                        HOME BUYERS
                    </h4>
                    <p>Create a comfortable & welcoming home that enhances your life and the connection to the land it
                        sits on.
                    </p>
                    <a href="#">
                        <div class="btnBox">
                            <span>BUILD WITH ECOKIT</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="buyersBox devsBox">
                <div class="boxinner">
                    <h4>
                        DEVLOPERS
                    </h4>
                    <p>Tourism is getting re-defined. Luxury & sustainability are now expected by eco-conscious
                        adventurers.
                    </p>
                    <a href="#">
                        <div class="btnBox">
                            <span>EXPLORE THE POSSIBILITIES</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="buyersBox builderBox">
                <div class="boxinner">
                    <h4>
                        BUILDERS
                    </h4>
                    <p>Complete more projects with less effort, utilising modern construction methods and providing top
                        quality.
                    </p>
                    <a href="#">
                        <div class="btnBox">
                            <span>WORK WITH US</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="SingleImage">
    <div class="wrapper 1">
        <div class="contentText">
            <h1>MORE COMFORT</h1>
            <h2>FOR LESS</h2>
            <p>Ecokit home provides a healthy living environment for you & your family – draft and mold free, with a
                fresh air
                supply. We use only natural or low VOC materials. Super insulation and air tight envelope will save you
                up to
                70% on your utility bills!</p>
            <a href="#">
                <div class="btnText">
                    <p>MORE ON ENERGY EFFICIENCY & SAVINGS <i class="fas fa-arrow-right"></i></p>

                </div>
            </a>
        </div>
        <div class="contentIMG">
            <img src="./img/1/ecokit_comfortable_home-min.jpg" alt="">
        </div>
    </div>

    <div class="wrapper 2 wrapReverse">
        <div class="btnPlayVideo">
            <span class="play">
                <span class="inner">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="600px" height="800px" x="0px" y="0px" viewBox="0 0 600 800"
                        enable-background="new 0 0 600 800" xml:space="preserve">
                        <path fill="none" d="M0-1.79v800L600,395L0-1.79z"></path>
                    </svg>
                </span>
            </span>
            <span>
                <h3>WHATCH VIDEO</h3>
            </span>
        </div>
        <div class="contentIMG">
            <img src="./img/1/ecokit_fast_assembly-min.jpg" alt="">
        </div>
        <div class="contentText">
            <h1>ASSEMBLED IN DAYST</h1>
            <h2>NOT WEEKS OR MONTHS</h2>
            <p>All components are prefabricated, so there is no need for measuring and cutting on site. They fit into
                each
                other, leaving minimal possibility for error, while speeding up the construction significantly and
                therefore
                saving you time & money.</p>
            <a href="#">
                <div class="btnText" style="background-color: #ff1053">
                    <p>MORE ON THE SYSTEM & ASSEMBLY <i class="fas fa-arrow-right"></i></p>

                </div>
            </a>
        </div>

    </div>

    <div class="wrapper 3">
        <div class="contentText marginTop">
            <h1>QUALITY IS A STANDARD</h1>
            <h2>NOT AN UPGRADE</h2>
            <p>We obsess over high-quality, low-maintenance details throughout, to make living in your ecokit home a
                joy. All
                materials are natural, durable & long lasting – a true once in a lifetime investment.</p>
            <a href="#">
                <div class="btnText" style="background-color: #f36b22">
                    <p>MORE ON MATERIALS WE USE <i class="fas fa-arrow-right"></i></p>

                </div>
            </a>
        </div>
        <div class="contentIMG">
            <img src="./img/1/ecokit_quality_materials.jpg" alt="">
        </div>
    </div>

    <div class="wrapper 4 wrapReverse">
        <div class="contentIMG">
            <img src="./img/1/ecokit_energy_efficiency-min.jpg" alt="">
        </div>
        <div class="contentText">
            <h1>FIXED PRICE</h1>
            <h2>AND SET TIMELINE</h2>
            <p>By prefabricating all components in a factory, we are able to better control the cost, timeline and
                quality
                than on-site construction. And that’s how we offer fixed price contracts.</p>
            <a href="#">
                <div class="btnText" style="background-color: #3eb049">
                    <p>SEE OUR STREAMLINED PROCESS <i class="fas fa-arrow-right"></i></p>

                </div>
            </a>
        </div>

    </div>
</section>

<section class="slideShow">
    <div class="wrapper">
        <div class="shape1">
            <div class="topShapedivider">
                <svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300"
                    preserveAspectRatio="none">
                    <path
                        d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z">
                    </path>
                </svg>
            </div>
            <div class="bottomShapedivider">
                <svg class="nectar-shape-divider" fill="#ffffff" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 50 0 80 0 100 100 Z"></path>
                </svg>
            </div>
        </div>
        <div class="shape2">
            <div class="bottomShapedivider">
                <svg class="nectar-shape-divider" fill="#ffffff" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 50 0 80 0 100 100 Z"></path>
                </svg>
            </div>
        </div>
        <!-- swiper slideshow 1 -->
        <div class="swiper-container swiperone">
            <div class="swiper-wrapper">

                <div class="swiper-slide slide1"></div>
                <div class="swiper-slide slide2"></div>
                <div class="swiper-slide slide3"></div>
                <div class="swiper-slide slide4"></div>
                <div class="swiper-slide slide5"></div>
                <div class="swiper-slide slide6"></div>
                <div class="swiper-slide slide7"></div>
                <div class="swiper-slide slide8"></div>
                <div class="swiper-slide slide9"></div>
                <div class="swiper-slide slide10"></div>
                <div class="swiper-slide slide11"></div>
                <div class="swiper-slide slide12"></div>
                <div class="swiper-slide slide13"></div>
                <div class="swiper-slide slide14"></div>
                <div class="swiper-slide slide15"></div>
                <div class="swiper-slide slide16"></div>

            </div>
            <div class="swiper-button-prev prev">
                <div class="btnslide">
                    <div class="numberSlide">
                        <p class="numtop">1</p>
                        <div class="dividerline"></div>
                        <p class="numbottom">16</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next">
                <div class="btnslide">
                    <div class="numberSlide">
                        <p class="numtop">1</p>
                        <div class="dividerline"></div>
                        <p class="numbottom">16</p>
                    </div>
                </div>
            </div>
        </div>




        <!-- swiper slideshow 2 -->
        <div class="swiper-container2 swipertwo">
            <div class="swiper-wrapper" data-swiper-autoplay="2000">
                <div class="swiper-slide slide3"></div>

                <div class="swiper-slide slide5"></div>

                <div class="swiper-slide slide9"></div>

                <div class="swiper-slide slide11"></div>

                <div class="swiper-slide slide15"></div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="gridText">
    <div class="wrapper">
        <div class="contentText1">
            <h3>WHAT MAKES US</h3>
            <h1>DIFFERENT?</h1>
            <p>We eliminate the pain of typical construction with curated options, straightforward pricing and a rapid
                build.
            </p>

            <img src="./img/2/blob_marysville_optimized.png" alt="" class="blobmary">
        </div>
        <div class="contentText2">
            <h5>Resilient design</h5>
            <p>Ecokit has a specific shape for ‘resilient design’ – a new take on a house that is resistant to or
                minimises
                the effects of upcoming climate change &amp; unpredictable weather patterns causing ravaging storms,
                floods or
                bushfires.</p>
        </div>

        <div class="contentText3 ">
            <h5>Plan now, build in stages</h5>
            <p>The modularity of the ecokit system allows you to start with a smaller dwelling and extend it seamlessly
                later.
                The smart integration of electrical & plumbing systems allow the dwelling to be expanded or changed over
                time
                without major renovations, following the evolution of your lifestyle circumstances.</p>
        </div>

        <div class="contentText4 ">
            <h5>We don’t force any inclusions on you</h5>
            <p>Every kit for an ecokit house contains the parts that allow you to build a fully insulated weatherproof
                shell
                only, the rest is optional.</p><br>
            <p>Why? Because we want to encourage the use of recycled or locally produced materials. The external
                membrane
                can protect the structure up to 3 months. You can source your own roofing, cladding, decking.</p><br>
            <p>We believe this philosophy makes ecokit even more sustainable and affordable. And if you would like your
                ecokit to include all the bells &amp; whistles, we can do that, too.</p>


        </div> <img src="./img/1/blob_pink_overlay-min.png" alt="" class="blobPink">
        <img src="./img/2/blob_marysville_optimized.png" alt="" class="blobmary">
    </div>
</section>

<section class="listText">
    <div class="wrapper">
        <div class="nectarShapeDividerWrapTop">
            <svg class="nectar-shape-divider" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                preserveAspectRatio="none">
                <path d="M0 100 C 50 0 80 0 100 100 Z"></path>
            </svg>
        </div>
        <div class="secSevenContent">
            <div class="left">
                <img src="./img/1/camilla_pavla_story-1536x1024.png" alt="">
            </div>
            <div class="right">
                <div class="textRight">
                    <h1>This is our story...</h1>
                    <p> Ecokit was born out of a frustration with the status quo. It started in 2015 as an idea for a
                        simple,
                        compact structure that would be comfortable, well insulated and built out of non toxic
                        materials.</p>
                    <a href="#">
                        <div class="btnRight">
                            <p>MORE ABOUT US</p> <i class="fas fa-arrow-right"></i>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="nectarShapeDividerWrapBottom">
            <svg class="nectar-shape-divider" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                preserveAspectRatio="none">
                <path d="M0 100 C 50 0 80 0 100 100 Z"></path>
            </svg>
        </div>
    </div>
</section>

<section class="secEight">
    <div class="shape1">
        <div class="topShapedivider">
            <svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300"
                preserveAspectRatio="none">
                <path
                    d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z">
                </path>
            </svg>
        </div>
    </div>
    <div class="wrapper">
        <div class="headline">
            <h3>Look, who's taking notice...</h3>
        </div>
        <div class="logoLine">
            <div class="noLink">
                <img src="./img/1/Domain_logo.png" alt="">
            </div>
            <div class="noLink">
                <img src="./img/1/designboom_logo.png" alt="">
            </div>
            <div class="noLink">
                <img src="./img/1/logo_forbes_NEXT_NOVE.png" alt="">
            </div>
            <div class="noLink">
                <img src="./img/1/curbed-logo.png" alt="">
            </div>
            <div class="noLink hoverRed">
                <img src="./img/1/apartment_therapy_log.png" alt="">
            </div>
        </div>
        <div class="boxBTN">
            <a href="#">
                <div class="btnText">
                    <p>ECOKIT IN MEDIA</p> <i class="fas fa-arrow-right"></i>
                </div>
            </a>
        </div>
        <div class="boxText">
            <h2>Fresh from our blog</h2>
            <div class="contentText">
                <div class="quizBox 1">
                    <a href="#">
                        <div class="btnQuiz">
                            <p>Welcom Campaign Quiz</p>
                        </div>
                        <div class="headline">
                            <span> October 17, 2020 </span>
                            <h3>Masters in sustainability? Wood and ecokit!</h3>
                            <div class="text">
                                <p> HOW MUCH CO2 IS STORED IN ONE KILOGRAM OF WOOD? Wood is a long-term durable material
                                    that can store
                                    a
                                    lot of CO2 - to…</p>
                            </div>
                        </div>
                    </a>
                    <div class="postMeta">
                        <a href="#"><span class="hv1"><i class="far fa-user "></i> Matyas</span></a>
                        <span class="hv1"><i class="far fa-comment "></i> 0</span>
                        <span class="hv1"><i class="far fa-heart"></i> 0</span>
                    </div>
                </div>
                <div class="quizBox 2">
                    <a href="#">
                        <div class="btnQuiz">
                            <p>Welcom Campaign Quiz</p>
                        </div>
                        <div class="headline">
                            <span> October 17, 2020 </span>
                            <h3>Energy-efficiency is what you should want the most</h3>
                            <div class="text">
                                <p> WHAT IS THE AVERAGE MONTHLY ENERGY BILL FOR A FAMILY OF 4 IN AUSTRALIA? Energy is a
                                    commodity that
                                    becomes continually more and more expensive,…</p>
                            </div>
                        </div>
                    </a>
                    <div class="postMeta">
                        <a href="#"><span class="hv1"><i class="far fa-user "></i> Matyas</span></a>
                        <span class="hv1"><i class="far fa-comment "></i> 0</span>
                        <span class="hv1"><i class="far fa-heart"></i> 0</span>
                    </div>
                </div>
                <div class="quizBox 3">
                    <a href="#">
                        <div class="btnQuiz">
                            <p>Welcom Campaign Quiz</p>
                        </div>
                        <div class="headline">
                            <span> October 17, 2020 </span>
                            <h3>Healthy homes are still rare</h3>
                            <div class="text">
                                <p> HOW MANY AUSTRALIANS LIVED IN AN “UNHEALTHY” HOME IN 2019? It’s a shame, but it is
                                    true. There are
                                    2.5
                                    million people living in houses…</p>
                            </div>
                        </div>
                    </a>
                    <div class="postMeta">
                        <a href="#"><span class="hv1"><i class="far fa-user "></i> Matyas</span></a>
                        <span class="hv1"><i class="far fa-comment "></i> 0</span>
                        <span class="hv1"><i class="far fa-heart"></i> 0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="wrapper">
        <div class="headline">
            <h1>ENOUGH TALK,</h1>
            <h3>Let’s Build Something Together</h3>
        </div>
        <div class="contactForm">
            <form action="">
                <input type="text" placeholder="Type your first name">
                <input type="text" placeholder="Type your last name">
                <input type="email" placeholder="Type your email">
                <input type="tel" placeholder="Type your phone number">
                <span>Do you own a land for the project?</span>
                <div class="checkboxRadio">
                    <div class="formfieldRadio">
                        <input type="radio" value="yes"> <span><label for="">Yes</label></span>
                    </div>
                    <div class="formfieldRadio">
                        <input type="radio" value="no" style="margin-bottom: 30px;"> <span><label
                                for="">No</label></span>
                    </div>
                </div>
                <span> Please verify your request* </span>
                <div class="gCaptcha">
                    <iframe
                        src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcRpfcUAAAAAM_ZVtkEoB1WM4ayvVQwCCLwnIQ2&amp;co=aHR0cHM6Ly93d3cubWV5ZXJtYW5zaW9uLmNvbS5zZzo0NDM.&amp;hl=vi&amp;v=NjbyeWjjFy97MXGZ40KrXu3v&amp;size=normal&amp;cb=k3jijjm23hgs"
                        width="304" height="78" role="presentation" name="a-sm4waw6ake6" frameborder="0" scrolling="no"
                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation">
                    </iframe>
                </div>

                <br />
                <input type="submit" value=" Let's talk! " class="btnsubmit">
            </form>
        </div>

    </div>
    <div class="shape1">
        <svg class="nectar-shape-divider" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300"
            preserveAspectRatio="none">
            <path
                d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z">
            </path>
        </svg>
    </div>
</section>
{% endblock%}